{
	admin off
	auto_https disable_redirects
	default_sni {$LOCAL_MEDIA_HOST}
	skip_install_trust
	servers {
		protocols h1 h2
	}
}

https://{$LOCAL_MEDIA_HOST}:8092 {
	tls internal
	reverse_proxy portal:8080
}
